body {
    text-align: center;
    background-color: rgb(0, 0, 0);
  }

#btnVideo2{

    
    background-color:rgb(99, 97, 97);
    border: none;
}

h1{
  
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
 color: rgb(32, 235, 49);
 
}

h4{
  
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
 color: rgb(32, 235, 49);
 
}

#calcBtn{

    background-color:black;
border-color: rgb(32, 235, 49); 


}


#Dec{

    background-color : black; 
    
  }

#Bin{

    background-color : black; 
    
  }

  input{
   color:  rgb(32, 235, 49);
  }


  
  .formTag{
    margin:10px;
  }
  .number{
    padding:5px;
    width:250px;
    border: #cdcdcd solid 1px;
    box-shadow: inset 1px 1px 3px #f6f6f6;
    -moz-box-shadow: inset 1px 1px 3px #f6f6f6;
    -webkit-box-shadow: inset 1px 1px 3px #f6f6f6;
  }
  .number:focus{
    outline:none;
    border-color: #3da6ff;
    box-shadow: 0 0 0 transparent;
    -moz-box-shadow: 0 0 0 transparent;
    -webkit-box-shadow: 0 0 0 transparent;
    color: #333;
  }
  #error{
    margin-top:4px;
    background:  rgb(32, 235, 49);
    color:black;
    padding:10px;
    display:none;
    position: relative;
    left: 440px;
    width: 250px;
  }